#leftbox { 
        float:left;
        background#76728e; 
        width:20%; 
        height:294px;
        border-style: double; 
        } 
        #middlebox{ 
            float:left;  
            background:#76728e; 
            width:10%; 
            height:10px; 
            border-style: double;
            } 
         #rightbox{ 
            float:right; 
            background:#76728e; 
            width:25%; 
            height:50px; 
            border-style: double;
            } 
	 #caption{ 
            align:center;
            background:#76728e;  
            border-style: double;
            } 
            #middlebox{ 
                float:left;  
                background:#76728e; 
                width:50%; 
                height:50px; 
                border-style: double;
                } 
body{
    background:#bababe; 
}